<% layout('./layouts/boilerplate') %> 
    <h1>All campgrounds</h1>

        <% for (let campground of campgrounds){ %>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%=campground.image%>" alt="" class="img-fluid">
                    </div>
                    <div class="col-mg-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= campground.title%></h5>
                            <p class="card-text"><%=campground.description%></p>
                            <small class="card-text"><%=campground.location%></small>
                        </div>
                        <a href="./campgrounds/<%=campground.id%>" class="btn btn-primary">View <%= campground.title %></a>
                    </div>
                </div>
            </div>
        <%}%>


    <a href="/campgrounds/user/new">Create a new campground</a>
