<% layout('./layouts/boilerplate') %> 
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-6">
                <img src="<%= campgroundDetails.image %>" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title"><%=campgroundDetails.title%></h5>
                  <p class="card-text"><%=campgroundDetails.description%><p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-muted"><%=campgroundDetails.location%></li>
                  <li class="list-group-item"><%=campgroundDetails.price%>$/night</li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-warning" href="/campgrounds/<%= campgroundDetails.id %>/edit">Edit campground</a>
                    <form class="d-inline"action="/campgrounds/<%= campgroundDetails.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete campground</button>
                    </form>
                </div>
              </div>
              <div class="card-footer">
                <a class="btn btn-primary" href="/campgrounds">Back to campgrounds</a>
              </div>
        </div>
    </div>